<footer id="footer">
    <div class="container">
        <div class="footer-container">
            <!-- FOOTER LOGO -->
            <div class="logo-image text-center">
                <img class="footer-logo" src="/assets/images/logo/logo.png" alt="P2B Hack Club Logo" />
                <p class="copyright">&copy P2P Hack Club</p>
            </div>

            <!-- FOOTER INFO AREA -->
            <div class="row">
                <!-- FOOTER INFO -- 1 -->
                <div class="footer-info col-lg-4 col-md-6 col-sm-12">
                    <p class="footer-text">This site is an open source project.</p>
                    <a class="footer-link btn mt-3" target="_blank"
                        href="https://github.com/P2PHackClub/website/">Improve this page!</a>
                </div>

                <!-- FOOTER INFO -- 2 -->
                <div class="footer-info col-lg-4 col-md-6 col-sm-12">
                    <p class="footer-text">
                        If interested in contributing, to this project.<br />
                        <a class="hyperlink link-info" href="https://community.p2phack.club/CONDUCT.html"
                            target="_blank">Please first read the Code of Conduct</a>
                    </p>
                </div>

                <!-- FOOTER INFO -- 3 -->
                <div class="footer-info col-lg-4 col-md-6 col-sm-12">
                    <p class="footer-text">
                        <small>Hack Club is fiscally sponsored by Hack Club, a 501(c)(3)
                            nonprofit. Our registered EIN is 81-2908499.</small>
                    </p>
                    <a class="footer-link btn mt-3" target="_blank"
                        href="https://bank.hackclub.com/donations/start/p2phackclub">Donation!</a>
                </div>
            </div>
        </div>
    </div>

    <!-- MARQUEE TEXT -->
    <div class="marq">
        <marquee behavior="smooth" direction="">&copy P2P Hack Club</marquee>
    </div>
</footer>